@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mochiy+Pop+One&display=swap');

.caja-resultados {
    background-image: url(/img/Fondo2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1064px;
}

.titulo-fecha {
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0px;
    font-family: 'Mochiy Pop One', sans-serif;
}

.caja-titulos {
    padding-top: 30px;
    padding-bottom: 10px;
}

.texto-fecha {
    color: #000000;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    padding-bottom: 20px;
    width: 200px;
    margin: auto;
}

.bandera {
    width: 70px;
}

.content-resultado {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
    align-items: center ;
    filter: opacity(0.8);
    background: linear-gradient(90deg , rgb(87, 230, 4) 0%, rgb(15, 15, 163) 50%, rgb(87, 230, 4) 100%);    
    border-radius: 6px;
    margin-top: 26px;
}

.nombre {
    color: rgb(0, 0, 0);
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0px;
}

.resultado {
    color: #ffffff;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 25px;
    margin: 0px;
}

.separacion{
    color: #000000;
    font-size: 31px;
    margin: 0px;
}