@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*
--------------------------------------------------------------
Estilos para generales
--------------------------------------------------------------
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins'; 
    list-style: none;
}

/*
--------------------------------------------------------------
Estilos para header
--------------------------------------------------------------
*/

.header-navbar .text-nombre-club {
    text-align: center;
    min-width: 100px;
    margin-right: 40px;  
    
}
.header-navbar .text-nombre-club h3{
    color: #FFF;
    font-family: Inter;
    font-size: 10px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    
}
.header-navbar .text-nombre-club h1{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    
}

.linea-vertical {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.linea-vertical span {
    background: white;
    width: 2px;
    height: 80px;
    border-radius: 5px;
}
.header-navbar {
    display: flex;
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, #63B846 0%, rgba(0, 41, 255, 0.83) 100%), #FFF;
    position: fixed;
    align-items: center;
    z-index: 5;
}

.titulo {
    width: 202px;
    height: 55px;
    flex-shrink: 0;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    line-height: normal;
    text-transform: uppercase;
}

.header-navbar img {
    width: 100px;
    flex-shrink: 0;
    margin-left: 36px;
}

.navegador a {
    margin-right: 50px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
.header-navbar img {   
    width: 6.5rem;
    margin-right: 36px;
}

.header-navbar a:hover {
    color: #0af30a;
}

.section-header {
    overflow: hidden;
}

.section-header img {
    display: flex;
    width: 1905px;
    height: 576px;
    margin-top: 96px;
    align-items: center;
}

section {
    height: 700px;
}

/*
--------------------------------------------------------------
Estilos para body
-------------------------------------   -------------------------
*/

.body {
    font-family: sans-serif;
}

/*
--------------------------------------------------------------
Estilos para footer
--------------------------------------------------------------
*/


.container { 
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background: linear-gradient(180deg, #63B846 0%, rgba(0, 41, 255, 0.83) 100%), #FFF;
    padding: 85px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 30%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 23px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #0b3feb;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #130303;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #0af30a;
    padding-left: 6px;
}
.social-link a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #0af30a;
}
.social-link a:hover {
    color: #054aea;
}

/* --------------------------------------------------------------
Estilos para dispositivos móviles
--------------------------------------------------------------
*/
@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

.footer-links {
    width: 100%;
    margin-bottom: 30px;
    }
}